html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    }

.add-todo-wrapper{
    background-color: rgb(211, 85, 23);
    position: relative;
    left: 350px;
    max-width: 500px;
    height: 45px;
    border-radius: 7px;
    top: 10px;
}
.dobav-button{
    margin-left: -20px;
    margin-top: -3px;
}
.text-zone{
    position: absolute;
    left: 30px;
    top: 10px;

}
.import-choice{
    position: absolute;
    right: 10px;
    top: 13px;
}
.dobav-button{
    position: absolute;
    left: 250px;
    top: 10px;
}

.todo-item{
    border-radius: 7px;
    background-color: rgb(36, 133, 27);
    border: 1px solid black;
    width: 500px;
    margin-top: 15px;
    margin-left: 350px;
   
    
}
.description{
    padding: 10px;
    color: whitesmoke;
}
.btn-complete{
    right: 10px;
    top: 10px;
    transform:scale(1.9);
    cursor:pointer;
    position: absolute;
    
}
.btn-delete{
    position: absolute;
    top: 8px;
    right: 50px;
}
.buttons{
    height: 40px;
    background-color: rgb(26, 154, 21);
    position: relative;
    border-radius: 7px;
    
}
